body {
  background-color: #474747;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.global-container {
  padding: 0 5px;
}

.form-password-checker {
  margin: 20px auto;
  padding: 100px 15px 100px;
  width: fit-content;
  min-width: 400px;
  border: 1px solid #4e4e4e;
  border-radius: 15px;
  background-color: #d3d3d3;
}
